<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
      <div class="me-5 d-none d-lg-block">
      </div>
      <div>
        <a href="https://www.linkedin.com/in/hemantgurav04/" class="me-4 text-reset" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/hemantgrv" class="me-4 text-reset" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> Stationero</h6>
            <p>
               stationero.com is a one stop destination for your School and Office Supplies.
               We provide you the best quality of products in variety of range and with the latest collections from our top brands.
            </p>
          </div>
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p><a href="{% url 'collections' %}" class="text-reset">Collections</a></p>
            <p><a href="#!" class="text-reset">About Us</a></p>
            <p><a href="{% url 'contact_form' %}" class="text-reset" target="_blank">Contact Us</a></p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
            <p><i class="fa fa-home"></i> Stationero</p>
            <p><i class="fa fa-envelope"></i> contact@stationero.com</p>
            <p><i class="fa fa-phone"></i> + 91 9511834031</p>
          </div>
  
        </div>
      </div>
    </section>
    <div class="text-center p-4">
      &copy;  2021 Copyright <a class="text-reset fw-bold" href="/"> stationero.in</a>
    </div>
</footer>
